<style type="text/css">
    .owl-carousel
    {
        display:block !important;
    }
</style>
<header class="header-area">
    <!-- Top Header Area -->
    <div class="top-header-area">
        <div class="container h-100">
            <div class="row h-100">
                <div class="col-12 h-100">
                    <div class="h-100 d-md-flex justify-content-between align-items-center">
                      <img src="../../img/core-img/logo.png" alt="Logo"><p>Medicare- Hospital Application</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<section class="hero-area">
     <div class="hero-slides owl-carousel">
         <!-- Single Hero Slide -->
         <div class="single-hero-slide bg-img bg-overlay-white" style="background-image: url('../../img/bg-img/hero1.jpg');">
             <div class="container h-100">
                 <div class="row h-100 align-items-center">
                     <div class="col-12">
                         <div class="hero-slides-content">
                         </div>
                     </div>
                 </div>
             </div>
         </div>
     </div>
</section>
