<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Medicare - Health &amp; Medical Template | Home</title>

    <!-- Favicon  -->
    <link rel="icon" href="../../img/core-img/favicon.ico">
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/style.css" rel="stylesheet" />
    <link href="~/Content/owl.carousel.css" rel="stylesheet" />
</head>
<body>
        @RenderBody()
    <script src="~/Scripts/jquery-2.2.4.min.js"></script>
    <!-- Popper js -->
    <script src="~/Scripts/popper.min.js"></script>
    <!-- Bootstrap js -->
    <script src="~/Scripts/bootstrap.min.js"></script>
    <!-- Plugins js -->
    <!-- Active js -->
</body>
</html>
